:root {
  --sandWhite: 246, 242, 239;
  --lightPurple: 205, 209, 220;
  --darkPurple: 133, 143, 179;
  --pink: 234, 112, 149;
  --rose: 236, 186, 195;
  --yellow: 238, 178, 64;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.3;
  }
}


body {
  background-color: rgb(var(--sandWhite));
  font-family: "Bai Jamjuree", serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  cursor:url(), auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  * {
    box-sizing:border-box;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;

    .star-icon {
      animation: rotate 5s infinite linear;  
    }

    .btn-language {
      border: none;
      font-family: "Jua", serif;
      color: rgb(var(--darkPurple));
      cursor: pointer;
      background: transparent;
      font-size: 1.25rem;
    }
  }

  .title {
    color: rgb(var(--darkPurple));
    font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem 2rem;
    margin: 0;
  }

  .sounds {
    display: none;
  }

  .content {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5rem;

    .wheel-container {
      position: relative;
      cursor: pointer;
      
      canvas {
        border-radius: 50%;
        border: 10px solid rgb(var(--lightPurple));
        background-color: rgb(var(--darkPurple));
        z-index: 1;
      }

      .wheel-indicator {
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        color: #ff4141;
        z-index: 3;
      }

      .wheel-title {
        position: absolute;
        z-index: 2;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        animation: shine 1.25s infinite linear;
      }

      #btn-spin {
        margin: 0;
        border: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 3;
        cursor: pointer;
        border-radius: 100%;
        outline: 4px solid;
        outline-color: transparent;
        transition: 0.5s;
        top: -2px;

        &:focus {
          outline-color: rgb(var(--pink));
        }

        &:hover {
          outline-color: rgba(var(--pink), 0.5);
        }
      }
    }

    .options {
      max-width: 100%;
      
      #options-input {
        background-color: rgb(var(--darkPurple));
        border: 16px solid rgb(var(--lightPurple));
        color: white;
        min-height: 400px;
        min-width: 400px;
        overflow: auto;
        border-radius: 16px;
        font-size: 1.25rem;
        padding: 1rem;
        width: 100%;
        transition: 0.3s;
        outline: 4px solid transparent;
        height: 100%;
  
        &:focus {
          outline: 4px solid rgb(var(--pink));
        }
  
        &:hover {
          outline-color: rgba(var(--pink), 0.5);
        }
  
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

  }

  .popup-container {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
    background-color: rgba(var(--darkPurple), 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;

    .falling-stars {
      position: relative;
      height: 100vh;
      overflow: hidden;

      .star {
        position: absolute;
        top: -50px;
        /* width: 20px;
        height: 20px; */
        animation: fall linear infinite;
      }

      .star-1 { animation-duration: 3s; animation-delay: 0s; left: 10%; }
      .star-2 { animation-duration: 4s; animation-delay: 1s; left: 20%; }
      .star-3 { animation-duration: 2.5s; animation-delay: 2s; left: 30%; }
      .star-4 { animation-duration: 3.5s; animation-delay: 0.5s; left: 40%; }
      .star-5 { animation-duration: 2s; animation-delay: 1.5s; left: 50%; }
      .star-6 { animation-duration: 4.5s; animation-delay: 0.2s; left: 60%; }
      .star-7 { animation-duration: 3s; animation-delay: 2.5s; left: 70%; }
      .star-8 { animation-duration: 2s; animation-delay: 1s; left: 80%; }
      .star-9 { animation-duration: 5s; animation-delay: 0.8s; left: 90%; }
      .star-9 { animation-duration: 3.5s; animation-delay: 1.6s; left: 100%; }
    }

    dialog {
      background: rgb(var(--lightPurple));
      color: rgb(var(--darkPurple));
      font-family: "Bai Jamjuree", serif;
      font-weight: bold;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 1rem;
      border: 2px solid rgb(var(--darkPurple));
      outline: 5px solid rgba(var(--pink), 0.4);
      min-width: 450px;
      min-height: 200px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-block: 0;

      #resultText {
        font-size: 2rem;
      }

      #btn-close {
        border: none;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        color: white;
        font-size: 0.75rem;
        border-radius: 100%;
        background-color: rgb(var(--darkPurple));
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        transition: 0.3s;
        outline: 4px solid transparent;
        
        &:focus {
          outline: 4px solid rgb(var(--pink));
        }
  
        &:hover {
          outline-color: rgba(var(--pink), 0.5);
        }
      }
    }
  }

  footer {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

    .footer-text {
      font-family: "Jua", serif;
      color: rgb(var(--darkPurple));
      font-size: 1.25rem;
    }
  }
}